<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Worker Page</title>
</head>
<body>
    <center>
        <h1>Worker Page</h1>
        <br>
        <br>
        <ul>
            <li>1: Просмотреть всю информацию</li>
            <li>2: Просмотреть расчетный лист</li>
            <li>3: Просмотреть кошелек</li>
            <li>4: <a th:href="@{/worker/sicker_leave/{id}(id=${user.getId()})}">Ввести данные больничного листа</a></li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
        </ul>
        <p th:text="${user}"></p>
        <a href="/logout">Exit</a>
    </center>
</body>
</html>