<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager Page</title>
</head>
<body>
    <center>
        <h1>HR Page</h1>
        <br>
        <br>
        <ul>
            <li>1: <a href="/hr/list_of_workers">See all workers</a></li>
            <li>2: <a href="">See all accountants</a></li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
        </ul>
        <a href="/logout">Exit</a>
    </center>
</body>
</html>