<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<div style="width: 1100px; margin: 0 auto;">
    <h1 style="margin: 50px; text-align: center">Registration Form</h1>
    <form th:method="POST" th:action="@{/user/register}" th:object="${user}">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="username">Username</label>
                <input class="form-control" type="text" th:field="*{username}" id="username" placeholder="Enter username...">
            </div>
            <div class="form-group col-md-6">
                <label for="password">Password</label>
                <input class="form-control" type="text" th:field="*{password}" id="password" placeholder="Enter password...">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="firstname">First name</label>
                <input class="form-control" type="text" th:field="*{firstName}" id="firstname" placeholder="Enter firstname...">
            </div>
            <div class="form-group">
                <label for="lastname">Last name</label>
                <input class="form-control" type="text" th:field="*{lastName}" id="lastname" placeholder="Enter lastname...">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input class="form-control" type="text" th:field="*{email}" id="email" placeholder="Enter email...">
            </div>
            <div class="form-group col-md-2">
                <label for="age">Age</label>
                <input class="form-control" type="text" th:field="*{age}" id="age" placeholder="Enter age...">
            </div>
            <div class="form-group col-md-4">
                <input class="form-control" type="text" th:field="*{positionName}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="kids">Number of children</label>
                <input class="form-control" type="text" th:field="*{numberOfChildren}" id="kids" placeholder="Enter number of children...">
            </div>
            <div class="form-group col-md-6">
                <label for="birth">Place of birth</label>
                <input class="form-control" type="text" th:field="*{placeOfBirth}" id="birth" placeholder="Enter place of birth...">
            </div>
            <div class="form-group col-md-4">
                <input class="form-control" type="text" th:field="*{familyStatus}">
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</div>
</body>
</html>